<h1>New Mattress</h1>

<form action="/mattresses" method="post">
  <label for="model">Mattress Model:
  </label>
  <input type="text" name="model" id="model">
  <br>
  <label for="quality">Mattress Quality:
  </label>
  <input type="text" name="quality" id="quality">
  <br>
  <input type="submit" value="Add">

</form>
